@import "tailwindcss";
@import url('https://fonts.cdnfonts.com/css/hole-hearted');
@import "@flaticon/flaticon-uicons/css/all/all";

/* @import "tailwindcss/preflight.css";
@import "tailwindcss/components.css";
@import "tailwindcss/utilities.css"; */

/* Custom font styles */
.font-heart{
  font-family: 'Hole-Hearted', sans-serif;
}

.font-emilys-candy {
  font-family: "Emilys Candy", cursive;
}

.font-geist-mono {
  font-family: "Geist Mono", monospace;
}


body {
  @apply bg-lime-200 text-rose-900;
  font-family: "Emilys Candy", cursive;
  font-size: 28px;
  font-weight: 400;
  cursor: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 36 36" width="36" height="36"><path d="M3 3 L30 18 L15 22 L12 33 Z" fill="none" stroke="%23e11d48" stroke-width="2" stroke-linejoin="round"/><path d="M4 4 L29 18 L15 22 L12 31 Z" fill="%23f43f5e" stroke="%23e11d48" stroke-width="2" stroke-linejoin="round"/></svg>') 0 0, auto;
}

.bg-square {
  background-image: url("/assets/square-bg.png");
  background-size: cover;
  background-position: center;
}

h1{
  @apply tracking-wider text-rose-600;
  font-family: 'Hole-Hearted', sans-serif;
}

@keyframes moveBorder {
  0% {
    background-position: 0 0, 100% 100%, 0 100%, 100% 0;
  }
  100% {
    background-position: 100% 0, 0 100%, 0 0, 100% 100%;
  }
}

.animate-move {
  width: 100%;
  height: 100%;
  background: linear-gradient(90deg, #f59e0b 50%, transparent 50%),
              linear-gradient(90deg, #f59e0b 50%, transparent 50%),
              linear-gradient(0deg, #f59e0b 50%, transparent 50%),
              linear-gradient(0deg, #f59e0b 50%, transparent 50%);
  background-repeat: repeat-x, repeat-x, repeat-y, repeat-y;
  background-size: 10px 2px, 10px 2px, 2px 10px, 2px 10px; /* Thinner dashes */
  animation: moveBorder 42s linear infinite; 
}

@keyframes zoomMoveLeft {
  0%, 100% { transform: translateX(0) scale(1); }
  50% { transform: translateX(-5px) scale(1.1); }
}

@keyframes zoomMoveRight {
  0%, 100% { transform: translateX(0) scale(1); }
  50% { transform: translateX(5px) scale(1.1); }
}

@keyframes zoomInOut {
  0%, 100% { transform: scale(1); }
  50% { transform: scale(1.15); }
}

.animate-rewind {
  animation: zoomMoveLeft 5s infinite ease-in-out;
}

.animate-forward {
  animation: zoomMoveRight 8s infinite ease-in-out;
}

.animate-heart {
  animation: zoomInOut 5s infinite ease-in-out;
}







/* ANIMSTA CLASSES AND EFFECTS */
.tracking-in-expand-fwd-top{-webkit-animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both;animation:tracking-in-expand-fwd-top .8s cubic-bezier(.215,.61,.355,1.000) both}
@-webkit-keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(-500px);transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}@keyframes tracking-in-expand-fwd-top{0%{letter-spacing:-.5em;-webkit-transform:translateZ(-700px) translateY(-500px);transform:translateZ(-700px) translateY(-500px);opacity:0}40%{opacity:.6}100%{-webkit-transform:translateZ(0) translateY(0);transform:translateZ(0) translateY(0);opacity:1}}


.bounce-top{-webkit-animation:bounce-top 2s both;animation:bounce-top 2s both}
@-webkit-keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}@keyframes bounce-top{0%{-webkit-transform:translateY(-45px);transform:translateY(-45px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in;opacity:1}24%{opacity:1}40%{-webkit-transform:translateY(-24px);transform:translateY(-24px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}65%{-webkit-transform:translateY(-12px);transform:translateY(-12px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}82%{-webkit-transform:translateY(-6px);transform:translateY(-6px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}93%{-webkit-transform:translateY(-4px);transform:translateY(-4px);-webkit-animation-timing-function:ease-in;animation-timing-function:ease-in}25%,55%,75%,87%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out}100%{-webkit-transform:translateY(0);transform:translateY(0);-webkit-animation-timing-function:ease-out;animation-timing-function:ease-out;opacity:1}}






